.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: -12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .radiomark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 0.5px solid pink;
    border-radius: 50%;
  }
  .label{
    font-weight: medium;
    color: grey;
    cursor: pointer;
    padding-left: 0px;
    width: 500%;
    font-weight: 400;
    margin-bottom: 10px;
}
  /* On mouse-over, add a grey background color */
  /* .container:hover input ~ .radiomark {
      background-color: #ccc;
    } */
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .radiomark {
    background-color: white;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radiomark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .radiomark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .radiomark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: pink;
  }
  