.navbar-brand{
    padding-right: 50px;
    font-weight: bold;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
.dropdown-menu{
    border: none;
}
.nav-link{
    font-weight: bold;
    font-size: 12px;
    background-color: white;
    border: none;
}
.nav-link:hover{
    background-color: whitesmoke;
    border-bottom: 3px solid red;
}
