.coupon {
    /* padding: 10px 15px 10px 15px; */
    /* width: 360px; */
  }
  .FormItem {
    width: 150px;
  }
  .inputText {
    border: 1px solid#FE4066;
  }
  .submitButton {
    /* border: 1px solid orange; */
    background-color: #fe4066;
    font-weight: 500;
    color: white;
    width: 100px;
    outline: none !important;
  }
  .submitButton:hover {
    background-color: #fe4066;
    color: white;
  }
  .submitButton:focus {
    outline: none;
    border: none !important;
  }
  .placeOrder button {
    border: none;
    background-color: #fe4066;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
  }
  .placeOrder button:hover {
    background-color: #fe4066;
  }
  .placeOrder button:focus {
    outline: none;
  }
  @media only screen and (max-width: 520px) {
    .placeOrder {
      margin: 0 0 40px 30px !important ;
    }
    .placeOrder button {
      position: absolute !important;
      width: 94% !important;
    }
    .priceTotal {
      display: flex !important;
      justify-content: space-between !important;
    }
    .submitButtonContainer {
      position: relative;
      bottom: 10px !important;
    }
    .FormItem {
      width: 200px;
    }
    .submitButton {
      width: 70px;
    }
  }
  