#checkout {
    margin-top: -17px;
    border-right: 1px solid rgb(218, 211, 211);
}

#card {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(218, 211, 211);
    ;
}

.button {
    width: 100%;
    background-color: rgb(218, 65, 90);
    border: none;
    color: white;
    height: 35px;
    font-weight: bold;
    border-radius: 2px;
}
.button:focus{
    outline: none;
}

#hr {
    width: 100%;
}
.orderPadding div{
padding-top: 10px;
}
.orderPadding a {
    background-color: white;
    border: none;
    color: rgb(218, 65, 90);
    margin-left: -50px;
}
#applyCoupon{
    background-color: white;
    border: 1px solid rgb(218, 65, 90);
    color: rgb(218, 65, 90);
    width: 72px;
}
#applyCoupon:focus{
    outline: none;
}
#removeNwList1 {
    border: none;
    background-color: white;
    color: gray;
    font-size: 15px;
    width: 50%;
    border-right: 0.5px solid rgb(218, 211, 211); 
}
#removeNwList1:focus{
    outline: none;
}
#removeNwList2 {
    border: none;
    background-color: white;
    color: gray;
    font-size: 15px;
}
#removeNwList2:focus{
    outline: none;
}
