.login {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid lightcoral;
    background-color: lightcoral;
    color: white;
}
.register {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: rgb(112, 107, 107);
    border: 1px solid rgb(216, 212, 212);
    background-color: whitesmoke;
}
button:focus{
    outline: none;
}
Link:hover{
    color: white;
    text-decoration: none;
}